@import "tailwindcss";

/* a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
} */

ul li {
  list-style-type: none;
}

body {
  font-family: "Poppins", serif;
  color: #333;
}

.logo__text {
  font-family: "Manrope", serif;
}

